:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
}

#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button.element-button {
  border-radius: 50%;
  background-color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.25rem;
}

button.element-button img {
  height: 6rem;
}

button.element-button.waning img {
  height: 8rem;
  opacity: 0.5;
}

button.element-button.strong img {
  height: 10rem;
}
